// App.scss
.App {
    //background: url("https://cdn.nba.com/logos/nba/25-allstar/2x/bg--page-lg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  